
<div class="shipping w-75 mt-5"   >
    <form >
     <!-- [formGroup]="shippingAddress" -->
         <div  class="mb-3">
            <label>Details :</label>
            <input type="text" formControlName="details" class="form-control">
        </div>
        <div  class="mb-3">
            <label>phone :</label>
            <input type="tel" formControlName="phone" class="form-control">
        </div>
        <div  class="mb-3">
            <label>City :</label>
            <input type="text" formControlName="city" class="form-control">
        </div>

  <button  class="bg-main text-white btn ms-auto d-block">Bay</button>
    </form>
</div> 