
<div *ngIf="isloading" class="loading position-fixed start-0 end-0 top-0 bottom-0 d-flex justify-content-center align-items-center">
    <span class="loader"></span>
  </div>

  <div class="container">

    <div class="row">
      <div *ngFor="let slider of categoryList" class="col-md-4">
          <div  [routerLink]="['/subcategory',slider._id]" class="product cursor-pointer" >
              <img  src="{{slider.image}}" class="w-100 mt-0" alt="">
              <h3 class="text-center">{{slider.name}}</h3>
          </div>
      </div>
  </div> 
    
  </div>




  
 
