<div *ngIf="isloading" class="loading position-fixed start-0 end-0 top-0 bottom-0 d-flex justify-content-center align-items-center">
  <span class="loader"></span>
</div>


 <div class="container  d-flex justify-content-center align-items-center">

  <div class="row d-flex align-items-center">
    <div class="col-md-6  d-flex justify-content-center align-items-center">
      <div>
        <img [src]="detailsItem?.image" alt="">
        <h3>{{detailsItem.name}}</h3>
      </div>
  
        
     </div>

</div>


